@import "./media";

body {
  font-family: 'Roboto', sans-serif;
  color : #fff;
  background-color: #fbfbfb;
  margin: 0;
}

h1, h2, h3,
h4, h5, h6,
.caption {
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
}

.global-container {
  display: flex;
  flex-direction: column;
}

#navigation {
  display: flex;
  flex-direction: row;

  .nav-head {
    flex: 1;
    padding: 4px 16px;
    text-transform: uppercase;

    > h4 {
      font-size: 18px;
      font-weight: lighter;
    }
  }

  > ul {
    flex: 1;
    display: flex;
    list-style: none;
    padding-left: 0;

    > li {
      padding: 4px 8px;

    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding-top: 24px;
  padding-bottom: 24px;

  .create-post {
    min-height: 100px;
    .create-post-text {
      cursor: pointer;
      padding: 8px;
      margin: 0;
      height: 100px;
      background-color: #E0F2F1;
      border: none;
      resize: none;
      overflow-x: hidden;
      font-size: 14px;
      transition: background-color 0.11s ease-out, color 0.11s ease-out;

      &.error {
        background-color: #FFAB91;

        &:focus {
          outline-color: #DD2C00;
        }
      }

      &:focus {
        cursor : text;
        outline-color: #00695C;
        box-shadow: none;
        border: none;
        color: #000;
        background-color: #FFF;

        &::placeholder {
          color : #fff;
        }

        &::-webkit-input-placeholder {
          color: #fff;
        }

        &:-moz-placeholder {
          color: #fff;
        }

        &::-moz-placeholder {
          color: #fff;
        }
      }
    }
  }

  .main-app {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .loader {
    > div {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .user-posts {
    font-size: 14px;

    .post {
      margin-top: 16px;
      margin-bottom: 16px;
      border: 1px solid #68a09e;
      background-color: #00897B;
      border-radius: 2px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);

      .post-wrapper {
        position: relative;
        padding: 24px 16px;
        border-left: 6px solid transparent;

        .post-remove {
          position: absolute;
          right: 3px;
          top: 0;
          border-radius: 26px;
          font-size: 22px;
          padding: 4px 8px;
          cursor: pointer;
          transition: color 0.11s ease-out;

          &:hover {
            color : #ffd3c5;
          }
        }

        .post-body {
          word-break: break-word;
          white-space: pre-wrap;

          img {
            max-height: 100%;
            max-width: 100%;
          }
        }

        .post-sub-title {
          display: flex;
          margin-top: 4px;
          margin-bottom: 16px;
          font-size: 12px;

          .post-author {
            margin-right: 16px;
            color: #d8e7e8;
          }

          .post-date {
            color : #d8e7e8;
            padding-top: 1px;
          }
        }

        h1, h2, h3,
        h4, h5, h6 {
          margin: 8px 0;
          margin-bottom: 0;
        }
      }

      &.new {
        background-color: #48807e;

        > .post-wrapper {
          border-left: 6px solid #05635f;
        }
      }
    }
  }

  #login-panel {

    #google-signin {
      width: 240px;
      margin-right: auto;
      margin-left: auto;
    }

    .login-wrapper {
      display: flex;
      flex-direction: column;
      width: 485px;
      margin: 40px auto;
      min-height: 400px;
      background-color: #00695C;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

      .login-title {
        text-align: center;
        flex-grow: 6;
      }

      .login-body {
        flex-grow: 6;
      }
    }
  }
}

nav {
  width: 100%;
  min-height: 80px;
  background-color: #004D40;
  position: fixed;
  top: 0;
  z-index: 1;
}

#pm-main {
  margin-top: 80px;

  .pm-container {
    display: flex;
    height: calc(100vh - 80px);

    .pm-dialogs {
      flex: 1;
      border : 1px solid #004D40;
      border-right: none;
      overflow-y: scroll;

      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #fbfbfb;
      }

      &::-webkit-scrollbar
      {
        width: 6px;
        background-color: #fbfbfb;
      }

      &::-webkit-scrollbar-thumb
      {
        background-color: #004D40;
      }

      .dialog-wrapper {
        cursor : pointer;
        border-bottom: 1px solid #B2DFDB;
        height: 55px;
        padding: 16px 8px;
        background-color: #00695C;

        &.active {
          background-color: #00897B;
        }

        .dialog-inner {
          padding: 0 8px;

          .dialog-user {

          }
        }
      }
    }

    .pm-body {
      flex: 2;
      display: flex;
      flex-direction: column;

      .pm-messages {
        flex : 2;
        border : 1px solid #004D40;
        border-bottom: none;
        border-left: none;
        padding: 16px;

        .pm-msg {
          background-color: #00695C;
          border-radius: 2px;
          padding: 16px 8px;
          max-width: 55%;
          word-break: break-all;
        }

        .pm-msg-right {
          display: flex;
          flex-flow: row-reverse;
        }

        .pm-msg-left {
          display: flex;
          flex-flow: row;
        }
      }
      .pm-text-field {
        min-height: 50px;
        border: 1px solid #004D40;
        border-top: 1px solid #B2DFDB;
        border-left: none;

        .pm-send-msg {
          width: 80%;
          height: 50px;
          border: none;
          resize: none;
          padding: 8px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}