@media (min-width: 320px) {
  body {
    overflow-y: hidden;
  }

  .post {
    margin: 36px 0;
    border: 1px solid #e4e4e4;
    border-right: none;
    border-left: none;
  }

  .footer-icons {
    border-top: none;
  }

  .main-container {
    width: 100%;
  }

  .create-post-text {
    width: 94.888%;
  }

  .login-wrapper {
    width: 290px;
  }

  .post-from-mobile-icon {
    font-size: 17px !important;
    padding-left: 4px;
  }
}

@media (min-width: 425px) {
  body {
    overflow-y: hidden;
  }

  .create-post-text {
    width: 96%;
  }

  .footer-icons {
    border-top : 1px solid #ccdedc;
  }

  .login-wrapper {
    width: 320px;
  }
}

@media (min-width: 760px) {
  body {
    overflow-y: hidden;
  }

  .post {
    margin: 32px 0;
    border: 1px solid #e4e4e4;
  }

  .main-container {
    width: 70%;
  }

  .login-wrapper {
    width: 450px;
  }

  .create-post-text {
    width: 97%;
  }

  .post-from-mobile-icon {
    font-size: 16px !important;
  }
}

@media (min-width: 1024px) {
  body {
    overflow-y: hidden;
  }

  .main-container {
    width: 60%;
  }

  .login-wrapper {
    width: 450px;
  }
}

@media (min-width: 1440px) {
  .main-container {
    width: 650px;
  }

  .create-post-text {
    width: 97%;
  }
}

@media (min-width: 1920px) {
  .main-container {
    width: 705px;
  }
  .create-post-text {
    width: 98%;
  }
}