<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="521166378127-vhkak167b5ghngfkk5r6ukrq059njoo8.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../react-app/src/style/main.css">

    <script src="https://apis.google.com/js/platform.js"></script>
    <title>Denisbook</title>
</head>
<body>
    <div class="global-container">
        <nav id="navigation">
            <div class="nav-head">
                <h4>Denisbook</h4>
            </div>
        <!--    <ul class="right-bar">
                <li>username</li>
                <li>Logout</li>
            </ul>-->
        </nav>

        <div id="pm-main">
            <!--<div class="pm-container">
                <div class="pm-dialogs">
                    <div class="dialog-wrapper">
                        <div class="dialog-inner">
                            <div class="dialog-user">dogzy123@gmail.com</div>
                        </div>
                    </div>
                    <div class="dialog-wrapper">
                        <div class="dialog-inner"></div>
                    </div>
                </div>
                <div class="pm-body">
                    <div class="pm-messages">
                        <div class="pm-msg-left">
                            <div class="pm-msg">eiwerwrwkerwfwerwerfwefeiwerwrwkerwfwerwerfwefeiwerwrwkerwfwerwerfwefeiwerwrwkerwfwerwerfwefeiwerwrwkerwfwerwerfwef</div>
                        </div>
                        <div class="pm-msg-right">
                            <div class="pm-msg">
                                rwkeirkwerowerkrwkeirkwerowerk
                            </div>
                        </div>
                    </div>
                    <div class="pm-text-field">
                        <textarea class="pm-send-msg"></textarea>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

    <script type="text/javascript" src="../../react-app/dist/vendor-bundle.js"></script>
    <script src="../../react-app/dist/pm-bundle.js"></script>
</body>
</html>