@media (min-width: 320px) {
  .main-container {
    width: 95%;
  }
  .create-post-text {
    width: 94.888%;
  }
}
@media (min-width: 425px) {
  .create-post-text {
    width: 96%;
  }
}
@media (min-width: 760px) {
  .main-container {
    width: 70%;
  }
  .create-post-text {
    width: 97%;
  }
}
@media (min-width: 1024px) {
  .main-container {
    width: 60%;
  }
}
@media (min-width: 1440px) {
  .main-container {
    width: 50%;
  }
  .create-post-text {
    width: 97%;
  }
}
@media (min-width: 1920px) {
  .main-container {
    width: 40%;
  }
  .create-post-text {
    width: 98%;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #fbfbfb;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
}
.close-svg {
  width: 12px;
  border-radius: 50%;
  margin-top: 3px;
}
.close-svg .close-svg-path {
  stroke: white;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}
.global-container {
  display: flex;
  flex-direction: column;
}
#navigation {
  display: flex;
  flex-direction: row;
}
#navigation .nav-head {
  flex: 1;
  padding: 8px 16px;
  text-transform: uppercase;
}
#navigation .nav-head > h4 {
  font-size: 18px;
  font-weight: lighter;
  margin: 8px auto;
}
#navigation > ul {
  flex: 1;
  display: flex;
  list-style: none;
  padding-left: 0;
}
#navigation > ul > li {
  padding: 4px 8px;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  /*padding-top: 24px;*/
  padding-bottom: 24px;
}
.main-container .create-post {
  min-height: 100px;
}
.main-container .create-post .create-post-image-preview {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main-container .create-post .create-post-image-preview .preview-image-wrapper {
  position: relative;
  border: 1px solid #a7dcd9;
  padding: 6px 8px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 0.11s ease-out;
}
.main-container .create-post .create-post-image-preview .preview-image-wrapper:hover {
  background-color: #e0f2f1;
  border-radius: 4px;
}
.main-container .create-post .create-post-image-preview .preview-image-wrapper .preview-image-remove {
  position: absolute;
  background-color: #00897b;
  border-radius: 21px;
  font-size: 14px;
  cursor: pointer;
  padding: 1px 4px;
  top: -12px;
  right: -12px;
}
.main-container .create-post .create-post-image-preview .preview-image-wrapper img {
  max-height: 90px;
  max-width: 210px;
}
.main-container .create-post .create-post-wrapper {
  padding: 4px 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-container .create-post .create-post-wrapper .create-post-text {
  font-family: 'Roboto', sans-serif;
  cursor: text;
  padding: 8px;
  margin: 0;
  height: 110px;
  background-color: #E0F2F1;
  width: 100%;
  border: 1px solid #a7dcd9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow-x: hidden;
  font-size: 14px;
  transition: background-color 0.11s ease-out, color 0.11s ease-out;
}
.main-container .create-post .create-post-wrapper .create-post-text.error:focus {
  outline-color: #DD2C00;
}
.main-container .create-post .create-post-wrapper .create-post-text:focus {
  cursor: text;
  outline-color: #00695C;
  box-shadow: none;
  border: none;
  color: #000;
  background-color: #FFF;
}
.main-container .create-post .create-post-wrapper .create-post-text:focus::placeholder {
  color: #fff;
}
.main-container .create-post .create-post-wrapper .create-post-text:focus::-webkit-input-placeholder {
  color: #fff;
}
.main-container .create-post .create-post-wrapper .create-post-text:focus:-moz-placeholder {
  color: #fff;
}
.main-container .create-post .create-post-wrapper .create-post-text:focus::-moz-placeholder {
  color: #fff;
}
.main-container .main-app {
  padding-top: 16px;
  padding-bottom: 16px;
}
.main-container .loader > div {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-container .user-posts {
  font-size: 14px;
}
.main-container .user-posts .post {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #1d756d;
  background-color: #00897B;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.main-container .user-posts .post .post-wrapper {
  position: relative;
  padding: 24px 16px;
  border-left: 6px solid transparent;
}
.main-container .user-posts .post .post-wrapper .post-remove {
  position: absolute;
  right: 3px;
  top: 0;
  border-radius: 26px;
  font-size: 22px;
  padding: 4px 8px;
  cursor: pointer;
  transition: color 0.11s ease-out;
}
.main-container .user-posts .post .post-wrapper .post-remove:hover {
  color: #ffd3c5;
}
.main-container .user-posts .post .post-wrapper .post-body {
  word-break: break-word;
  white-space: pre-wrap;
  margin-bottom: 32px;
}
.main-container .user-posts .post .post-wrapper .post-body img {
  max-height: 100%;
  max-width: 100%;
}
.main-container .user-posts .post .post-wrapper .post-body pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background-color: #06463f;
  padding: 12px 8px;
  border-radius: 4px;
}
.main-container .user-posts .post .post-wrapper .post-body pre code {
  border: 1px solid #2a5a55;
  color: white;
  background-color: #0d312d;
  padding: 2px 4px;
}
.main-container .user-posts .post .post-wrapper .post-footer {
  display: flex;
  flex-direction: row-reverse;
}
.main-container .user-posts .post .post-wrapper .post-footer .footer-icons {
  width: 100%;
  padding-top: 12px;
  border-top: 1px solid #69ada5;
}
.main-container .user-posts .post .post-wrapper .post-footer .footer-icons .icon-like {
  cursor: pointer;
  float: right;
  margin-right: 8px;
}
.main-container .user-posts .post .post-wrapper .post-footer .footer-icons .icon-like.liked {
  fill: '';
}
.main-container .user-posts .post .post-wrapper .post-sub-title {
  display: flex;
  margin-top: 4px;
  margin-bottom: 32px;
  font-size: 12px;
}
.main-container .user-posts .post .post-wrapper .post-sub-title .post-user-info {
  margin-top: 3px;
  margin-left: 9px;
}
.main-container .user-posts .post .post-wrapper .post-sub-title .post-user-info .post-author {
  padding-top: 2px;
  margin-right: 16px;
  color: #d8e7e8;
  font-size: 14px;
  font-weight: 500;
}
.main-container .user-posts .post .post-wrapper .post-sub-title .post-user-info .post-date {
  color: #d8e7e8;
  padding-top: 4px;
}
.main-container .user-posts .post .post-wrapper h1,
.main-container .user-posts .post .post-wrapper h2,
.main-container .user-posts .post .post-wrapper h3,
.main-container .user-posts .post .post-wrapper h4,
.main-container .user-posts .post .post-wrapper h5,
.main-container .user-posts .post .post-wrapper h6 {
  margin: 8px 0;
  margin-bottom: 0;
}
.main-container .user-posts .post.new {
  background-color: #48807e;
}
.main-container .user-posts .post.new > .post-wrapper {
  border-left: 6px solid #05635f;
}
.main-container #login-panel #google-signin {
  width: 240px;
  margin-right: auto;
  margin-left: auto;
}
.main-container #login-panel .login-wrapper {
  display: flex;
  flex-direction: column;
  width: 485px;
  margin: 40px auto;
  min-height: 400px;
  background-color: #00695C;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.main-container #login-panel .login-wrapper .login-title {
  text-align: center;
  flex-grow: 6;
}
.main-container #login-panel .login-wrapper .login-body {
  flex-grow: 6;
}
nav {
  width: 100%;
  background-color: #045850;
  position: fixed;
  top: 0;
  z-index: 1;
}
#pm-main {
  margin-top: 80px;
}
#pm-main .pm-container {
  display: flex;
  height: calc(100vh - 80px);
}
#pm-main .pm-container .pm-dialogs {
  flex: 1;
  border: 1px solid #004D40;
  border-right: none;
  overflow-y: scroll;
}
#pm-main .pm-container .pm-dialogs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fbfbfb;
}
#pm-main .pm-container .pm-dialogs::-webkit-scrollbar {
  width: 6px;
  background-color: #fbfbfb;
}
#pm-main .pm-container .pm-dialogs::-webkit-scrollbar-thumb {
  background-color: #004D40;
}
#pm-main .pm-container .pm-dialogs .dialog-wrapper {
  cursor: pointer;
  border-bottom: 1px solid #B2DFDB;
  height: 55px;
  padding: 16px 8px;
  background-color: #00695C;
}
#pm-main .pm-container .pm-dialogs .dialog-wrapper.active {
  background-color: #00897B;
}
#pm-main .pm-container .pm-dialogs .dialog-wrapper .dialog-inner {
  padding: 0 8px;
}
#pm-main .pm-container .pm-body {
  flex: 2;
  display: flex;
  flex-direction: column;
}
#pm-main .pm-container .pm-body .pm-messages {
  flex: 2;
  border: 1px solid #004D40;
  border-bottom: none;
  border-left: none;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}
#pm-main .pm-container .pm-body .pm-messages .pm-msg {
  background-color: #00695C;
  border-radius: 2px;
  padding: 16px 8px;
  max-width: 55%;
  word-break: break-all;
}
#pm-main .pm-container .pm-body .pm-messages .pm-msg-right {
  display: flex;
  flex-flow: row-reverse;
  margin-bottom: 8px;
}
#pm-main .pm-container .pm-body .pm-messages .pm-msg-left {
  display: flex;
  flex-flow: row;
  margin-bottom: 8px;
}
#pm-main .pm-container .pm-body .pm-text-field {
  min-height: 50px;
  border: 1px solid #004D40;
  border-top: 1px solid #B2DFDB;
  border-left: none;
}
#pm-main .pm-container .pm-body .pm-text-field .pm-send-msg {
  width: 80%;
  height: 50px;
  border: none;
  resize: none;
  padding: 8px;
}
#pm-main .pm-container .pm-body .pm-text-field .pm-send-msg:focus {
  outline: none;
}
